body{
	font-family: 'cinzel',sans-serif;
}

.navbar{
	width: 100%;
	height:80px;
	position: fixed;
	top: 0;
	left:0;
	display: flex;
	justify-content: center;
	z-index: 9;
	transition: 0.5s;
}

.navbar.bg{
	background: gray;
}

.links-container{
	display:flex;
	align-items: center;
	list-style: none;
}

.user-interactions{
	display:flex;
	position: absolute;
	right: 5vw;
	top: 50%;
	transform: translateY(-50%);
}

.cart, .user{
	width:30px;
	height:30px
}

.cart-icon, .user-icon{
	width:100%;
	height:100%;
	object-fit: cover;
}

.link{
	font-size: 20px;
	color:#190c05;
	text-decoration: none;
	padding: 10px;
	opacity:0.7;
	transition: .5s;
}

.navbar.bg .link{
	color: #190c05;
	opacity: 0.5;
}

.link.active, .link:hover, .navbar.bg .link:hover, .navbar.bg .link.active{
	opacity: 1;
}

.about{
	width: 50%;
	padding: 78px 0px;
	background-color: #191;
    text-align: center;
}

.leftside{
    float: left;
    width: 25%;
    padding: 0 5px 0 5px;
    margin: 5px 0 5px;
    position: relative;
    top: 70px;
}

.rightside {
    float: bottom;
    width: 25%;
    padding: 0 5px 0 5px;
    margin: 5px 0 5px;
    position: relative;
    right: 500px;
}

footer{
	font-family: 'lato', sans-serif;
	color: #d5be8b;
	background: #190c05;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-transform: capitalize;
	font-size: 20px;
}
